.jumbotron{
  background-color:rgb(194, 208, 223);
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  padding:40px 10 40px 0;
  margin-top:0px;
}

.titulo{
  color: rgb(43, 135, 189);
  font-size: 80px;
}
