<!-- Editable table -->

<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Ventas</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <mat-icon fas icon="plus" size="2x"></mat-icon>
        </a>
      </span>

      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Crear Venta</button>
      <br>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Fecha</th>
          <th class="text-center">Valor</th>
          <th class="text-center">Ver más</th>
        </tr>
        <tr *ngFor="let venta of ventas; let id = index">
          <td>
            <span contenteditable="false">{{venta.fecha}}</span>
          </td>
          <td>
            <span contenteditable="false">{{venta.valor}}</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" class="btn btn-sm btn-outline-primary" (click)="open(content1); get_row(venta)">Agregar productos</button>
              <button type="button" class="btn btn-sm btn-outline-primary" (click)="open(content2); ver_productos(venta.id)">Ver Productos</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->

<ng-template #content3 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Productos por Venta</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
   
    </div>
    
  </ng-template>

<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Producto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="new_producto">Productos</label>
         <select class="browser-default custom-select" (change)="onChange($event.target.value)">
            <option>Selecciona un producto</option>
          <option *ngFor="let producto of productos"  value="{{producto.id}}">{{producto.nombre}}</option>
        </select>
        <label for="new_cantidad">Valor</label>
        <input id="new_cantidad" class="form-control" placeholder="Cantidad" name="new_cantidad" [(ngModel)]="new_cantidad" >
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)="add_producto()">Save</button>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nueva Venta</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="new_fecha">Fecha</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" pattern="[0-9]{4}[-][0-9]{2}[-][0-9]{2}" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="new_fecha">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
        <br>
        <label for="new_valor">Valor</label>
        <input id="new_valor" class="form-control" placeholder="Valor" name="new_valor" [(ngModel)]="new_valor" >
        <br>
        <label for="new_tienda">Tiendas</label>
         <select class="browser-default custom-select" (change)="onChange($event.target.value)">
          <option>Selecciona una tienda</option>
          <option *ngFor="let tienda of tiendas"  value="{{tienda.id}}">{{tienda.nombre}}</option>
        </select>
        <br>
        
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)="add()">Save</button>
  </div>
</ng-template>
