<!-- Editable table -->


<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Tiendas</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <mat-icon fas icon="plus" size="2x"></mat-icon>
        </a>
      </span>

      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Crear Tienda</button>
      <br>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Ubicacion</th>
          <th class="text-center">Acciones</th>
        </tr>
        <tr *ngFor="let tienda of tiendas; let id = index">
          <td>
            <span (keyup)="changeValue(id, 'nombre', $event)" (blur)="updateList(id, 'nombre', $event)" contenteditable="true">{{tienda.nombre}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(tienda, 'ubicacion', $event)" (blur)="updateList(id, 'ubicacion', $event)">{{tienda.ubicacion}}</span>
          </td>
          
          <td>
            <span class="table-remove">
              <button type="button" class="btn btn-lg btn-outline-primary" (click)="remove(tienda)">Eliminar</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nueva Tienda</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="new_nombre">Nombre</label>
        <input id="new_nombre" class="form-control" placeholder="Nombre" name="new_nombre" [(ngModel)]="new_nombre">
        <br>
        <label for="new_ubicacion">Ubicacion</label>
        <input id="new_ubicacion" class="form-control" placeholder="Ubicación" name="new_ubicacion" [(ngModel)]="new_ubicacion" >
               
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)="add()">Save</button>
  </div>
</ng-template>